/* got initially from HungGarTiger @ https://bbs.archlinux.org/viewtopic.php?pid=1296088#p1296088 */ 

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul"); /* only needed once */

/*
#content browser {
   margin-right: -14px !important;
   overflow-y: scroll;
   overflow-x: hidden;
}

#helpMenu, #edit-menu { display: none !important; }
        
#toolbar-menubar {
  height: 12px !important;

}

*|*.textbox-input:-moz-placeholder { color:transparent !important; }
*|*.textbox-input:-moz-placeholder:hover { color:transparent !important; }

#nav-bar {
    background-image: none !important;
    opacity: .1 !important;
    background: none !important;
    background-image: none !important;
}


#TabsToolbar { 
        background: #fdf6e3 !important; 
}

.tabbrowser-tab[selected="true"] { 
        background: #93a1a1 !important; 
        font-family: "Verdana" !important; 
        font-size: 8px !important; 
        color: black !important; 
        font-weight: normal !important; 
        border: none !important;
        border-radius: 0 !important;
        padding-left: 5px !important; 
        padding-right: 5px !important; 
}

.tabbrowser-tab:not([selected="true"]) { 
        background: #fdf6e3 !important; 
        font-family: "Verdana" !important; 
        font-size: 8px !important; 
        color: black !important; 
        font-weight: normal !important; 
        border: none !important;
        border-radius: 0 !important;
        padding-left: 5px !important; 
        padding-right: 5px !important;
        
}

.tab-background-start,.tab-background-middle,.tab-background-end{
  background-image: none !important;
  display: none;
}

tab {
 border: none !important; 
}

tab + tab {
  paddin: 0px 0px !important;
}

#navigator-toolbox > :not(#TabsToolbar) {
  display:none !important;
}
#navigator-toolbox  {
        background: #fdf6e3 !important; 
      }

#tabbrowser-tabs {

        background: #fdf6e3 !important; 
}
#TabsToolbar > :not(#tabbrowser-tabs) {
  display: none !important;
}

.scrollbutton-up,.scrollbutton-down {
  display: none !important;
}

.tab-close-button {
        display: none !important;
}

.tabs-newtab-button {
        display: none !important;
        border: none !important;
        margin: 0 !important;
}


* {
    font-family: "Inconsolata-g";
}
/*
